.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  max-width: $default-width;
  margin: 17.4rem 4rem 0;
  padding: 4rem;
  background-color: var(--color-darkgrey);
  border-radius: 1.2rem;
  text-align: center;
  @include respond(mobile) {
    max-width: $mobile-width;
    padding: 2.4rem;
    margin: 11.6rem 2.4rem 0;
    gap: 2.4rem;
  }
  &-avatar {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
  }
  &-presentation {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    &-location {
      color: var(--color-neonGreen);
    }
  }
  &-social {
    max-width: 30.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      list-style-type: none;
      padding: 1.4rem 11.5rem;
      border-radius: 8px;
      background-color: var(--color-grey);
      transition: all 0.4s ease;
      @include respond(mobile) {
        max-width: 27.9rem;
        padding: 1.2rem 11.5rem;
      }
      &:hover {
        cursor: url("../../assets/images/handcursor.png"), auto;
        background-color: var(--color-neonGreen);
        color: var(--color-grey);
      }
    }
  }
}
