@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.ft-heading {
  font-weight: 800;
  font-size: 2.4rem;
}

.ft-body-m {
  font-weight: 500;
  font-size: 1.6rem;
}

.ft-body-s {
  font-weight: 800;
  font-size: 1.4rem;
}
